<head>
<link href="sala.css" rel="stylesheet" type="text/css">
</head>

<h1>Black Jack 3N</h1>
Cartas Jugador 1:
<div id="cartas-1">
	<div class="carta" id="carta1">4</div>
	<div class="carta" id="carta2">5</div>
</div>
<input id="pedir-carta" type="button" value="Pedir carta"/>
<input id="plantarse" type="button" value="Plantarse"/>