<head>
<link href="sala.css" rel="stylesheet" type="text/css">
</head>


<div class="fondo">
	<h1>Black Jack 3N</h1>
	Cartas Jugador 1:
	<div id="cartas-1">
		<div class="carta" id="carta1">4</div>
		<div class="carta" id="carta2">5</div>
	</div>
	<div class="resultado">
		Total: X
	</div>

	<hr>

	Cartas Jugador 2:
	<div id="cartas-2">
		<div class="carta" id="carta1">7</div>
		<div class="carta" id="carta2">3</div>
	</div>
	<div class="resultado">
		Total: X
	</div>
	<hr>
	<input id="pedir-carta" type="button" value="Pedir carta"/>
	<input id="plantarse" type="button" value="Plantarse"/>
</div>